*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
.bod{
  background-image: linear-gradient(to bottom,#57585a69,#071629), url("./images/background.png");
  background-repeat: no-repeat;
  background-size:contain;
  display:inline-flex;
  flex-direction: column;
}
header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding:20px 60px ;
  
}
.sect1{
  color: white;
}
.topright{
  width: 30%;
  display: flex;
  gap: 60px;
}
.topright a{
  color: white;
  text-decoration: none;
}
header img{
  width: 180px;
  height: 30px;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
 img{
  max-width: 200px;
  max-height: 100px;
}
button{
  border-color: plum;
  background-color: plum;
  border-radius: 50px;
  color: white;

}
.purpleColor{
  color: plum;
}
/* h1,h2,h3,p{
 text-align: center; 
 color: antiquewhite;
} */
a{
  color: rgb(33, 2, 2);
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div1 h1{
  font-size: 50px;
  font-weight:900;
}
div1 button, .div1 h1,.myflex{
  padding-bottom: 30px;
}

.myflex{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.div2 h2{
  padding: 30px 0;
  text-align: center;
}
.div3{
  display: flex;
  -ms-flex-align: center;
  padding: 40px 0;
}
.div3 a img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.sect2_one{
  display: flex;
  justify-content: center;
  background-color: #c372ff !important;
  padding: 50px 80px;
  text-align: start;
  gap: 30px;
}
.sect2_one_2{
  padding-top: 20px;
}
.advert{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect3{
  background-color: white !important;
  color: black !important;
}
.free a img{
  width: 40px;
  height: 40px;
}
.div4{
  display: flex;
  justify-content: space-around;
}
.div4 .one_{
  width: 200px;
  height: 400px;
}
.myimg{
  width: 100%;
}
.div4 .one .myimg img{
  width: 100% !important;
  object-fit: contain;
  height: 80px !important;
  border-radius: 50%;
}
.stars{
  display: flex;
  align-items: center;
}
.sect4 h2{
  text-align: center;
}
.stars_head{
  flex-direction: column;
}
.profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.two_{
  padding: 30px 0;
}
.stars_plus{
  justify-content: space-between;
}
.stars_center{
  justify-content: center;
}
.stars_center img{
width: 30px;
height: 30px;
border-radius: 50%;
}

.footer_btn,.free{
  padding: 30px 0;
}

.sect2{
  text-align: center;
  background-color: rgb(3, 26, 26);
}
.sect4{
  background-color: #071629;
  color: white;
  padding: 30px 10px;
}

.free{
  display: flex;
  text-decoration-color: blueviolet;
}
.sect5{
  background-color: white;
  text-align: center;
}
.faq{
  display: flex;
  flex-direction: row;
  gap:40px;
  text-align: start;
  padding: 20px 200px;
}
footer{
  background-color:#071629;
  text-align: center;
}
.foot{
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.foot_2{
  display: flex;
  gap: 30px;
}
.foot img{
  width: 30px;
  height: 30px;
}

